body, html {
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.page-wrapper {
    position: relative;
    color: white;
}

.func {
    text-align: center;
    cursor: pointer;
    font-size: 40pt;
    border: 0.5px solid white;
    width: 30%;
    height: 15rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255,255,255,0.1);
}

.func:hover {
    border-color: rgb(128, 229, 255);;
    color: rgb(128, 229, 255);
    transition: 0.5s;
}
#cursor {
    visibility: hidden;
    color: gray;
}
#caption {
    position: absolute;
    color: rgba(170, 170, 170, 0.726);
    font-size: 82pt;
    top: 5%;
    left: 5%;
    margin: 0 auto;
    z-index: 2;
    width: fit-content;
    display: flex;
}

#caption:hover {
    cursor: default;
    color: rgb(128, 229, 255);
    transition: 0.5s;
}

#main-page {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 6rem);
}

#main {
    height: 100%;
}

#about-project {
    height: 100%;
}